<a href="https://colab.research.google.com/github/DummyPuppy/ColabResource/blob/origin/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
    data = pd.read_csv("sd254_users.csv");
    print(data.head(10))
    print(data.columns)

           Person  Current Age  Retirement Age  Birth Year  Birth Month  \
0  Hazel Robinson           53              66        1966           11
1      Sasha Sadr           53              68        1966           12
2      Saanvi Lee           81              67        1938           11
3   Everlee Clark           63              63        1957            1
4   Kyle Peterson           43              70        1976            9
5     Aldo Walker           42              70        1977           10
6  Katalina Lewis           36              67        1983           12
7   Ryland Howard           26              67        1993           12
8    Kenya Cooper           81              66        1938            7
9   Sawyer Butler           34              60        1986            1

   Gender                   Address  Apartment           City State  Zipcode  \
0  Female             462 Rose Lane        NaN       La Verne    CA    91750
1  Female    3606 Federal Boulevard        NaN    Little Neck    NY    11363
2  Female           766 Third Drive        NaN    West Covina    CA    91792
3  Female          3 Madison Street        NaN       New York    NY    10069
4    Male  9620 Valley Stream Drive        NaN  San Francisco    CA    94117
5    Male             58 Birch Lane        6.0      Davenport    IA    52803
6  Female         5695 Fifth Street        1.0     Louisville    KY    40299
7    Male         1941 Ninth Street       10.0       Portland    OR    97214
8  Female          11 Spruce Avenue        NaN        Telford    PA    18969
9  Female          887 Grant Street        NaN      Abbeville    LA    70510

   Latitude  Longitude Per Capita Income - Zipcode Yearly Income - Person  \
0     34.15    -117.76                      $29278                 $59696
1     40.76     -73.74                      $37891                 $77254
2     34.02    -117.89                      $22681                 $33483
3     40.71     -73.99                     $163145                $249925
4     37.76    -122.44                      $53797                $109687
5     41.55     -90.60                      $20599                 $41997
6     38.22     -85.74                      $25258                 $51500
7     45.51    -122.64                      $26790                 $54623
8     40.32     -75.32                      $26273                 $42509
9     29.97     -92.12                      $18730                 $38190

  Total Debt  FICO Score  Num Credit Cards
0    $127613         787                 5
1    $191349         701                 5
2       $196         698                 5
3    $202328         722                 4
4    $183855         675                 1
5         $0         704                 3
6    $102286         672                 3
7    $114711         728                 1
8      $2895         755                 5
9     $81262         810                 1
Index(['Person', 'Current Age', 'Retirement Age', 'Birth Year', 'Birth Month',
       'Gender', 'Address', 'Apartment', 'City', 'State', 'Zipcode',
       'Latitude', 'Longitude', 'Per Capita Income - Zipcode',
       'Yearly Income - Person', 'Total Debt', 'FICO Score',
       'Num Credit Cards'],
      dtype='object')

In [12]:
selected_col = ['Person','Birth Year', 'Yearly Income - Person']
small_set = data[selected_col]
small_set.columns = ['User','BirthYear','YearlyIncome']
small_set['Age'] = 2022-small_set['BirthYear']
small_set['AnnualIncome'] = [int(x.replace('$','')) for  x in small_set['YearlyIncome']]
print(small_set.head(10))

             User  BirthYear YearlyIncome  Age  AnnualIncome
0  Hazel Robinson       1966       $59696   56         59696
1      Sasha Sadr       1966       $77254   56         77254
2      Saanvi Lee       1938       $33483   84         33483
3   Everlee Clark       1957      $249925   65        249925
4   Kyle Peterson       1976      $109687   46        109687
5     Aldo Walker       1977       $41997   45         41997
6  Katalina Lewis       1983       $51500   39         51500
7   Ryland Howard       1993       $54623   29         54623
8    Kenya Cooper       1938       $42509   84         42509
9   Sawyer Butler       1986       $38190   36         38190

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
cleaned_data = small_set[['User','Age','AnnualIncome']]
print(cleaned_data.info())
print(cleaned_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User          2000 non-null   object
 1   Age           2000 non-null   int64
 2   AnnualIncome  2000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 47.0+ KB
None
                   User  Age  AnnualIncome
0        Hazel Robinson   56         59696
1            Sasha Sadr   56         77254
2            Saanvi Lee   84         33483
3         Everlee Clark   65        249925
4         Kyle Peterson   46        109687
...                 ...  ...           ...
1995       Jose Faraday   35         48010
1996  Ximena Richardson   65         49378
1997     Annika Russell   49         30942
1998        Juelz Roman   68         54654
1999       Kenia Harris   24         65909

[2000 rows x 3 columns]

In [17]:
cleaned_data.to_csv('cleaned_small_user_data.csv')